{{#each this}}
        <li class="country-name">
            <img 
                src="{{flags.png}}" 
                alt="{{name}}"
                width="35"
                height="25">
            <h2 class="country-title">{{name.official}}</h2>
        </li>
{{/each}}
